*.mp4
*.pth
*.onnx
*.log
*.txt
*.pyc
__pycache__/
*.csv
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# environment files
.env
venv/
env/
.vscode